body {
    background-color: black;
    text-align: center;
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

section {
    margin: 10px auto;
}

.brief p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;
}

.copy-right {
    text-align: right;
    color: grey;
}
